<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=info344wikiblob;AccountKey=3O1EWYd6C2BzSoyis6bEX44ebDVzxoOz14yRxirhK8Gp+f7gUojeYoR76fx8DZDPOaktDK/y9RmmenLi2dcLIw==" />
  </appSettings>
</configuration>